#gameboard td{
  text-align:center;
  vertical-align:middle;
  height:21px;
  width:21px;
  outline:1px solid #CCC;
}

.word{
  padding-right:20px;
}

.selectA{
  background-color: yellow;
}

.selectB{
  background-color: orange;
}

.inline{
  background-color: lightGreen;
}

.outofline{
  background-color: pink;
}

.foundMe{
  background-color:lightBlue;
}
