body{
  font-family:Arial;
}

/** Global */

a.btn{
  border:2px solid #FFBC7A;
  border-radius: 12px; 
  padding:10px;
  margin:10px;
  text-align:center;
  cursor:pointer;
}

a.btn:hover{
  background-color:#FFE1C3;
  color:black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.clear{ clear:both; }

#results{
  margin:10px;
  padding:10px;
  border:1px solid lightGreen;
  border-radius: 5px; 
  color:green;
  text-align:center;
}

#results.completed{
  background-color: lightGreen;
  border:2px solid green;
}

#results.resigned{
  background-color: orange;
  border:2px solid red;
  color:darkRed;
}

#wordlist-container{
  position:relative;
  margin-bottom:30px;
}

#wordlist-subcontainer{
  margin:0 auto;
  width:800px;
}

#wordlist{
  list-style-type: none;
  margin:0;
  padding:0;
}

#wordlist li{
  display: inline;
  text-align:center;
}

#wordlist .word{
  float:left;
  width:200px;
  font-family:monospace;
  font-size:20px;
}

/** Canvas */

#gamecanvas{
  border:1px solid black;
  position:absolute;
  z-index:1;
  opacity:.4;
}

/** Gameboard */

#gameboard-container{
  margin-bottom:30px;
}

#gameboard-subcontainer{
  position:relative;
}

#gameboard{
  z-index:2;
  font-family:monospace;
  font-size:20px;
  margin: 0 auto;
}

#gameboard td{
  text-align:center;
  vertical-align:middle;
  height:24px;
  width:24px;
  padding:0;
  margin:0;
  outline:1px solid #CCC;
  cursor: pointer;
}

.selectA{
  background-color: yellow;
}

.selectB{
  background-color: orange;
}

.inline{
  background-color: lightGreen;
}

.outofline{
  background-color: pink;
}

.dragged-selection{
  background-color:lightBlue;
}

.selectA.foundMe{
  background-color:yellow;
}

/** Controls */

#controls{
  margin:30px;
  padding:10px;
  color:#666;
  text-align:center;
}
