body{
  font-family:Arial;
}

a.btn{
  border:2px solid #FFBC7A;
  border-radius: 12px; 
  padding:10px;
  margin:10px;
  text-align:center;
  cursor:pointer;
}

a.btn:hover{
  background-color:#FFE1C3;
  color:black;
}

#results{
  margin:10px;
  padding:10px;
  border:1px solid lightGreen;
  border-radius: 5px; 
  color:green;
  text-align:center;
}

#results.completed{
  background-color: lightGreen;
  border:2px solid green;
}

#results.resigned{
  background-color: orange;
  border:2px solid red;
  color:darkRed;
}

#wordlist{
  margin:30px;
  text-align:center;
}

#wordlist .word{
  padding:20px;
  font-family:monospace;
  font-size:20px;
}

/** Gameboard */

#gameboard{
  font-family:monospace;
  font-size:20px;
  margin: 0 auto;
}

#gameboard td{
  text-align:center;
  vertical-align:middle;
  height:21px;
  width:21px;
  outline:1px solid #CCC;
  cursor: pointer;
}

.selectA{
  background-color: yellow;
}

.selectB{
  background-color: orange;
}

.inline{
  background-color: lightGreen;
}

.outofline{
  background-color: pink;
}

.foundMe{
  background-color:lightBlue;
}

.selectA.foundMe{
  background-color:yellow;
}

/** Controls */

#controls{
  margin:30px;
  padding:10px;
  color:#666;
  text-align:center;
}
